.chart-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-bar__inner {
    height: 100%;
    width: 15px;
    border: none;
    border-radius: 10px;
    background-color: #b2c5e9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
  }
  
  .chart-bar__fill {
    background-color: #2e72f4;
    width: 100%;
    transition: all 0.3s ease-out;
  }
  
  .chart-bar__label {
    font-size: 1rem;
    text-align: center;
  }