* {
  box-sizing: border-box;
}

html {
  font-family:Arial, Helvetica, sans-serif;
}

body {
  margin: 2%;
  background-color: #809bce;
}

.heading {
  font-size: 2.25rem;
  color: black;
  text-align: center;
  margin: 40px;
  letter-spacing: 2.5px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.mainForm {
  width: 27.5%;
}

.mainDisplay {
  width: 70%;
}
